<div th:replace="fragments/header :: header('League Players')" th:remove="tag"></div>

    <a href="./"><< Go back</a>

    <table class="table table-hover my-5 mx-auto w-50 text-center">
        <thead>
            <th>Ranking</th>
            <th>Name</th>
            <th>Rating</th>
            <th>Nationality</th>
            <th></th>
        </thead>
        <tbody>
            <tr th:each="player,iter : ${data}">
                <td>[[ ${player.ranking} ]]</td>
                <td>[[ ${player.player.name} ]]</td>
                <td>[[ ${player.rating} ]]</td>
                <td>[[ ${player.player.nationality} ]]</td>
                <td>
                    <a  th:href="'leaguePlayer/' + ${player.player.id}" class="text-info">Details...</a>
                </td>
            </tr>
        </tbody>
    </table>

<div th:replace="fragments/footer :: footer" th:remove="tag"></div>
 