<div th:replace="fragments/header :: header('League Players')" th-remove="tag"></div>

    <a href="./">
        <button class="btn btn-sm btn-outline-default">Back to home page</button>
    </a>

    <ul th:each="player : ${data}" class="list-unstyled text-center mt-5">
        <li><b>[[ ${player.player.name} ]]</b></li>
        <li>Player nationality: [[ ${player.player.nationality} ]]</li>
        <li>Rating: [[ ${player.rating} ]]</li>
        <li>Ranking: [[ ${player.ranking} ]]</li>

        <li class="mt-2">
            <a th:href="'leaguePlayer/' + ${player.player.id}">
                <button class="btn btn-sm btn-outline-primary">
                    See details
                </button>
            </a>
        </li>
    </ul>

<div th:replace="fragments/footer :: footer" th-remove="tag"></div>
 