<div th:replace="fragments/header :: header(${data.name})" th:remove="tag"></div>

    <a href="../leaguePlayers" class="text-info"><< Back to all players of this league</a>

    <ul th:if="${data}" class="list-unstyled text-center my-5 border rounded p-5">
        <li><b>[[ ${data.name} ]]</b></li>
        <li>
            Nationality: [[ ${data.nationality} ]]
        </li>
        <li>
            Game counter: [[ ${data.stats.gameCount} ]]
        </li>
        <li>
            Wins: 
            [[ ${data.stats.winningGameCount} ]], 
            <span class="text-success"> [[ ${data.stats.winningPercentage} ]] % </span>
        </li>
        <li>
            Losses: 
            [[ ${data.stats.gameCount - data.stats.winningGameCount} ]],
            <span class="text-danger"> [[ ${data.stats.lossPercentage} ]] % </span>
        </li>
        <li>
            Goal counter: 
            [[ ${data.stats.goalCount} ]],
            <span class="text-primary"> [[ ${data.stats.goalsPerGame} ]] </span> per game.
        </li>
    </ul>

<div th:replace="fragments/footer :: footer" th:remove="tag"></div>
 