<div th:replace="fragments/header :: header('Home')" th:remove="tag"></div>

    <div class="d-flex w-75 align-items-center justify-content-evenly">
        <a href="leaguePlayers">
            <button class="btn btn-info">
                League Players
            </button>
        </a>

        <a href="leagueTeams">
            <button class="btn btn-success">
                League Teams
            </button>
        </a>
    </div> 

<div th:replace="fragments/footer :: footer" th:remove="tag"></div>
 