body {
  background-color: rgb(240, 240, 240);
}

table {
  background-color: white;
}

table tbody tr:nth-child(1) {
  background-color: lightgoldenrodyellow;
}
table tbody tr:nth-child(2) {
  background-color: lightgray;
}
table tbody tr:nth-child(3) {
  background-color: #ff9292;
}
table tbody tr:nth-child(-n + 3) td:last-child a {
  color: black !important;
}

.border {
  background-color: white;
}
